body {
  background-color: yellowgreen;
}
.word {
  display: inline;
}
.letter {
  font-size: 20pt;
  font-family: "Inconsolata", Consolas, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}
.letter.correct {
  background-color: rgb(116, 252, 116);
}
.letter.wrong {
  background-color: salmon;
  color: white;
}
.letter.current {
  background-color: rgb(255, 255, 255);
}
